/* reset */
body,h1,h2,h3,ul,ol,li,p{
		margin:0;
		padding-top: 0;
		list-style: none;
	}
/* top gradient */
	.gradient{
		height: 80px;
	    background: RGB(186,204,228);
	    background: -moz-linear-gradient(top,  RGB(186,204,228) 0%, RGB(255,255,255) 100%);
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,RGB(186,204,228)), color-stop(100%,RGB(255,255,255)));
	    background: -webkit-linear-gradient(top,  RGB(186,204,228) 0%,RGB(255,255,255) 100%);
	    background: -o-linear-gradient(top,  RGB(186,204,228) 0%,RGB(255,255,255) 100%);
	    background: -ms-linear-gradient(top,  RGB(186,204,228) 0%,RGB(255,255,255) 100%);
	    background: linear-gradient(to bottom,  RGB(186,204,228) 0%,RGB(255,255,255) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0);
	}
	.gradient>span{
		float: right; margin-right: 240px;
		font-size: 20px; color: RGB(2,57,139);
		line-height: 70px;
		text-align: center;
	}
/* content */
	.content{
		margin: 0 auto;
		width: 890px;
	}
	.content>h2{
		margin-top: -10px;
		color: RGB(26,103,181); font-weight: bold;
	}
	.content>h2>img{
		width: 150px; height: 50px;
	}
/* content-login */
	.content-login{
		margin-top: 50px;
		width: 890px; height: 270px;
		background-color: RGB(136,169,213);
	}

	.login-form{
		float: right; margin-right: 22px; margin-top: -30px;
		width: 430px; height: 330px;
		background-color: RGB(237,246,255);
		border: 3px solid RGB(97,141,202);
	}
	.login-text{
		margin-top: 20px;
		width: 100%; height: 60px;
		background-color: RGB(220,236,252);
	}
	.login-text>span{
		display: inline-block;
		margin-left: 80px;
		font-size: 20px; color: RGB(40,103,182); font-weight: bold;
		line-height: 60px; text-align: left;
	}
	#form-group{
		margin-top: 20px;
		margin-left: 60px;
		width: 300px;
	}
	#btn-form {
		margin-left:-20px;
	}
	#register {
		margin-right: 10px;
	}
	.space{
		padding-left: 0;
		}
	#user{
		margin-left: 4px;
	}
	
/*  footer*/
	.footer{
		margin: 50px auto;
		width: 200px;
		font-size: 14px; color: RGB(96,129,157);
		text-align: center;
	}